.content .button.primary {
  background-color: #563087 !important;
}
.content .button.primary:hover {
  background-color: #290755 !important;
}

.content .button.secondary {
  border-color: #290755 !important;
  background-color: white !important;
  color: #290755 !important;
}

.content a {
  color: #563087 !important;
}

.content a:hover {
  color: #290755 !important;
}

.content h3 span {
  font-weight: 900;
  font-size: 16pt;
  color: #290755 !important;
}
