.content .button.primary {
  background-color: #563087 !important;
}
.content .button.primary:hover {
  background-color: #290755 !important;
}

.content .button.secondary {
  border-color: #290755 !important;
  background-color: white !important;
  color: #290755 !important;
}

.content a {
  color: #563087 !important;
}

.content a:hover {
  color: #290755 !important;
}

.content h3 span {
  font-weight: 900;
  font-size: 16pt;
  color: #290755 !important;
}

#footer {
  background-color: #290755;
}

@media (prefers-color-scheme: dark) {
  body,
  main {
    background-color: #201538;
    color: #fff;
  }
  #outline .menu,
  #outline .sidebar,
  #outline h3,
  #footer {
    background-color: #0d0128;
    color: #fff;
  }
  .content p,
  .content p span,
  .content li span {
    color: #fff;
  }
  .content span a {
    color: #8cb4ff !important;
  }
  .content h1 span,
  .content h2 span,
  .content h3 span {
    color: #fff !important;
  }
}
